<img class="background_img right top" src="assets/startup/bricks_left.png">
<img class="background_img left top" src="assets/startup/bricks_right.png">
<img class="background_img left bottom" src="assets/startup/developer.png">
<img class="background_img right bottom" src="assets/startup/support.png">


<div class="container">
    <img class="logo" src="assets/startup/logo.png">
    <p class="tui-text_h3 tui-space_top-16 tui-space_bottom-4">Хочу стать резидентом в Atom Space!</p>
    <p class="tui-text_body-l subtitle">Для регистрации вам необходимо заполнить специальную форму</p>
    <button routerLink="go" class="tui-space_top-12" tuiButton size="l"><span class="tui-text_body-m">Поехали!</span></button>
</div>