<div class="tui-container tui-container_adaptive">
  <div>
    <div class="tui-space_top-8">
      <a tuiLink icon="tuiIconChevronLeft" routerLink=".." iconAlign="left">Вернуться назад</a>
    </div>
    <h4 class="tui-text_h4 tui-space_vertical-6">Направления</h4>
    Добавление направлений в AtomSpace по которым будут проводиться курсы (условно)

    <tui-input class="tui-space_top-10 directions-input">Введите направления</tui-input>
  </div>
  <div class="badges" class="tui-space_top-6">
    <tui-badge size="l" value="Python" [hoverable]="true">
      <tui-svg src="tuiIconCloseLarge"></tui-svg>
    </tui-badge>
  </div>

  <!--  <div class="tui-row tui-row_adaptive">-->

  <!--  </div>-->
</div>
