@import '~@taiga-ui/core/styles/taiga-ui-local';

.app-header {
  //height: 80px;
  @include shadow(1);
  align-items: center;

  .main-header {
    display: flex;
  }

  hr {
    border: none;
    background-color: var(--tui-base-03);
    color: var(--tui-base-03);
    height: 1px;
    margin: 0.8rem 12rem 0rem 12rem;
  }

  .additional-header {
    display: flex;
    margin: 0.5rem 12rem 0rem 12rem;

    tui-tabs {
      box-shadow: none;
      margin-bottom: 12px;
    }
  }

  .app-logo {
    cursor: pointer;
    margin-left: 12rem;
  }
}

.left-tabs {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  margin-right: 12rem;
}
