<div class="app-header">
  <div class="main-header">
    <img class="app-logo" src="assets/login/login-logo.png">
  <tui-tabs class="tui-space_left-10">
    <button tuiTab>
      Наборы
    </button>
  </tui-tabs>
  <div class="left-tabs">
    <tui-tabs>
      <button tuiTab>
        Личный кабинет
      </button>
    </tui-tabs>
    <tui-avatar class="tui-space_left-4" [rounded]="true" avatarUrl="/assets/trash/avatar.jpg"></tui-avatar>
  </div>
  </div>
  <hr>
  <div class="additional-header" *ngIf="additionalHeader">
    <tui-tabs>
      <button tuiTab>
        Личные данные
      </button>
      <button tuiTab>
        Управление
      </button>
      <button tuiTab>
        Онбординг
      </button>
    </tui-tabs>
  </div>
</div>
