<div class="tui-container tui-container_adaptive">
  <div class="title tui-space_vertical-6">
    <h4 class="tui-text_h4">Наборы</h4>
    <button tuiButton size="m" icon="tuiIconPlusCircleLarge">Создать набор</button>
  </div>
  <div class="table-container">
    <div class="title table-title">
      <h6 class="tui-text_h6 tui-space_vertical-5 tui-space_left-5">Наборы</h6>
      <div class="icons">
        <button tuiIconButton appearance="flat" size="s" icon="tuiIconSearch"></button>
        <button tuiIconButton class="tui-space_horizontal-6" appearance="flat" size="s" icon="tuiIconFilter"></button>
      </div>
    </div>
    <table class="tui-table">
      <tbody>
      <tr class="tui-table__tr">
        <th class="tui-table__th">
        </th>
        <th class="tui-table__th">Номер</th>
        <th class="tui-table__th">Дата старта</th>
        <th class="tui-table__th">Статус</th>
        <th class="tui-table__th">Всего</th>
        <th class="tui-table__th">Принято</th>
        <th class="tui-table__th">Дата окончания</th>
        <th class="tui-table__th"></th>
      </tr>
      <tr class="tui-table__tr" routerLink="11">
        <td class="tui-table__th">
          <tui-checkbox></tui-checkbox>
        </td>
        <td class="tui-table__td">№11</td>
        <td class="tui-table__td">26.01.2021</td>
        <td class="tui-table__td">
          <tui-badge status="success" value="Завершен"></tui-badge>
        </td>
        <td class="tui-table__td">-</td>
        <td class="tui-table__td">-</td>
        <td class="tui-table__td">27.01.2021</td>
        <td class="tui-table__td">
          <button tuiIconButton appearance="flat" size="s" icon="tuiIconEdit"></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <tui-pagination
    class="tui-space_top-10"
    [length]="3"
    [index]="0"
  ></tui-pagination>

  <!--  <div class="tui-row tui-row_adaptive">-->

  <!--  </div>-->
</div>
