<div class="text-center tui-text_body-m">
  Может ты уже определился с направлением?
</div>
<form class="tui-space_top-8">
  <tui-input
    tuiTextfieldType="text">Направление (Java, Motion Design, Front-End)</tui-input>
</form>

<div class="text-center tui-text_body-m tui-space_top-8">
  Напиши небольшое мотивационное число, почему ты хочешь стать резидентом AtomSpace
</div>

<form class="tui-space_top-8">
  <tui-text-area [tuiTextfieldMaxLength]="2200" [rows]="20" [expandable]="true">Мотивационное письмо</tui-text-area>

  <div class="text-center">
    <button class="tui-space_top-12" tuiButton size="l" (click)="nextStep()">
      <span class="tui-text_body-m">Дальше</span>
    </button>
  </div>
</form>

